packages:
  yum:
    amazon-linux-extras: []
    git: []
    patch: []
    gcc: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []

commands:
  01_postgresql13:
    command: sudo amazon-linux-extras enable postgresql13
  02_postgresql-devel:
    command: sudo yum install -y postgresql-devel
