<div class="container">

  <%= render "buscador" %>

  <div class="subtitulo">
    <h2>Los Free Tours mas populares</h2>
    <p>Únete a algunos de nuestros tours en Dublín, Budapest, Barcelona, Berlín, Praga, Londres y mucho más</p>
  </div>

  <%= render "travels" %>
</div>
