<header>
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Digital Tour</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'Ya tengo cuenta', '/', class: "nav-link" %>
        </div>
      </div>
    </div>
  </nav>
</header>

<section class="banner">
  <img class="banner__img" src="https://images.pexels.com/photos/4337408/pexels-photo-4337408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img_guia">
  <div class="banner__info">
    <h2 class="banner__title">Conviertete en un guia digital</h2>
    <p class="banner__p">!!Empieza a ganar dinero en varios toures a la vez!!</p>
    <div class="btn-acceder">
      <%= link_to 'Registrarme', guides_form_path, class: "btn btn-info" %>
    </div>
  </div>
</section>

<section class="info-guia">
  <div class="container">
    <div class="title">
      <h2>¿Cómo funciona?</h2>
    </div>
    



    <div class="btn-acceder">
        <%= link_to 'Registrarme', guides_form_path, class: "btn btn-info" %>
    </div>
  </div>
</section>