<section class="banner">
  <img class="banner__img" src="https://images.pexels.com/photos/4337408/pexels-photo-4337408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img_guia">
  <div class="banner__info">
    <h2 class="banner__title">CONVIERTETE EN UN GUIA DIGITAL</h2>
    <p class="banner__p">!!Empieza a ganar dinero en varios toures a la vez!!</p>
    <div class="btn-acceder">
      <%= link_to 'Registrarme', form_create_path, class: "btn btn-info" %>
    </div>
  </div>
</section>

<section class="info-guia">
  <div class="title">
      <h2>¿Cómo funciona?</h2>
  </div>
  <div class="container info">
    <div class="card mb-3" style="max-width: 750px;">
      <div class="row g-0">
        <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Conviértete en guía digital</h5>
                <p class="card-text">Si eres un apasionado del mundo, de su cultura e historia, y conoces los rincones más
                  atractivos, y deseas ofrecer tus conocimientos a los turistas y, al mismo tiempo, ganar un
                  dinero adicional. ¡MyDigitalTour es la opción perfecta para ti!</p>
              </div>
            </div>
          <div class="col-md-4">
            <img src="https://i.ibb.co/tQfY39Z/tour.jpg" class="img-fluid rounded-start" alt="...">
          </div>
      </div>
    </div>



    <div class="card mb-3" style="max-width: 750px;">
      <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.ibb.co/0ZBbcgR/10811.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Diseñe su propio tour</h5>
              <p class="card-text">¿Te apetece mostrar los lugares interesantes de ciudades que no conocen muchos
                visitantes? Quizá sea un amante de la historia, o sencillamente tenga un buen dominio
                de la comida y las costumbres tradicionales del país. Cualquiera que sea tu experiencia,
                ¡crea tu propio tour digital y compártelo con el mundo!</p>
            </div>
          </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 750px;">
      <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.ibb.co/k1YJXYQ/guia.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Convierte en un guia digital</h5>
              <p class="card-text">Una vez verificada su cuenta y aprobado el perfil de MyDigitalTour. Podrás crear tus
                toures digitales de forma ágil, sencilla y segura con el apoyo de la plataforma y el equipo
                de MyDigitalTour.</p>
            </div>
          </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 750px;">
      <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.ibb.co/7XGSJ6h/dinero.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ganar dinero</h5>
              <p class="card-text">Existen dos formas de obtener dinero:
                1)
                Establece tu tour digital con un precio fijo y los clientes pagarán en nuestra plataforma
                en el momento del servicio.
                2)
                Establece tu tour digital como GRATUITO y la persona será libre de decidir cuánto dejará
                de propina (sin obligaciones), dependiendo de su valoración del tour digital.
                El modelo de tour digital gratuito se está convirtiendo rápidamente en la forma preferida
                por los turistas para descubrir ciudades en todo el mundo.
                Independientemente de que establezcas la forma 1 o 2, el modo de proceder de
                MyDigitalTour será el mismo! A continuación te lo explicamos:
                Nivel I= Inicialmente tu comisión es del 60% del valor (precio) del tour digital de cada
                persona
                - Nivel II= Si alcanzas a 200 usuarios que contraten tus toures digitales (puede ser
                el sumatorio de usuarios de varios toures digitales) y refieres a 2 guías (tienen
                que crear al menos un tour digital validado), tu comisión asciende a 65% del
                valor (precio) de cada tour digital
                - Nivel III= Si alcanzas a 700 usuarios y refieres a 1 guía, tu comisión es de 70%
                del valor (precio) de cada tour digital
                - Nivel IV= Y, por último, si alcanzas a 1500 usuarios es de 80% del valor (precio)
                de cada tour digital
                El restante % es para el mantenimiento de la plataforma!</p>
            </div>
          </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 750px;">
      <div class="row g-0">
          <div class="col-md-4">
            <img src="https://img.freepik.com/vector-gratis/aplicacion-online-turismo-viajero-telefono-movil-pasaporte-reservando-o-comprando-billete-avion_74855-10966.jpg?w=826&t=st=1667216897~exp=1667217497~hmac=73823bff02920091c66365aa2dd8cd72574329a3d8bd51fa3e4039e48494ecf9" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Casos reales</h5>
              <p class="card-text">El guía digital se llevará una comisión por cada tour digital contratado dependiendo del
                nivel en el que se encuentre!!
                Un guía digital carga a nuestra plataforma de forma sencilla su tour digital del lugar.
                El coste del tour digital es de 15 euros!
                En una semana han contratado su servicio 20 personas al día, 20 personas * 7 días=
                140 personas
                140 personas * 15 euros =2100 euros y la comisión del guía es de Nivel IV (80% del
                valor (precio) de cada tour digital), son 1680 euros en una semana sin realizar el tour!!
                Pongamos que hace 4 toures más por el mundo, y son muy similares las métricas
                1680 euros *4 toures = 6720 euros a la semana sin realizar el tour in situ!!</p>
            </div>
          </div>
      </div>
    </div>

    <div class="btn-acceder">
      <%= link_to 'Empezar', form_create_path, class: "btn btn-info" %>
    </div>
  </div>
</section>
<%= render "layouts/footer" %>
