.btn{
  background-color:#EBA561;
  color: white;
  border-color: #f0861b;
  &:hover{
    background-color: #f0861b ;
    border-color: #EBA561;
    color: white;
  }
}
.btn-acceder{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.btn-info{
  background-color: transparent;
  color: #FF8811;
  border-color:#FF8811;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 39%;
  &:hover{
    background-color: #f0861b ;
    border-color: #F4D06F;
    color: white;
  }
  @media (max-width: 400px) { 
    width: 65%;
   }

}
.login{
  width: 60%;
}