.info{
    display: flex;
    margin-top: 5%;
    background-color: #ACFFF559;
    border-radius: 5px;
    padding: 5%;
    .beneficios{
        margin-left: 10%;
        width: 45%;
    }
    .g-col-6{
        width: 55%;
    }
    
}
.info .g-col-6 img{
    border-radius: 0.5em; 
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.68);
   width: 100%;
}