.navegacion-user {
  background-color: white;
  border-top: 0.5px solid #BBBBBB;
  height: 40px;
  padding: 10px 2.5em 2px 2.5em !important;

  .footer-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    a {
      color: #BBBBBB;

      em {
        font-size: 1.4em;
      }
    }

    a:hover {
      color: #F5C245;
    }
  }
}
