.navbar {
  background-color:#271033;

  .navbar-brand{
    font-weight: bold;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover{
      color: #f0861b ;
    }
  }
  #navbarNavAltMarkup{
    justify-content: flex-end;
  }

  .navbar-toggler{
    background-color: rgba(255, 255, 255, 0.75);
  }
}