.navbar {
  background-color:#271033;

  .navbar-brand{
    font-weight: bold;
  }

  a {
    color: white;
    text-decoration: none;
    margin-right: 9px;
    border: 1px solid #EBA561;
    border-radius: 4px;
    padding: 8px;
    &:hover{
      color: #f0861b ;
    }
  }
  .logo{
    border: transparent;
  }
  #navbarNavAltMarkup{
    justify-content: flex-end;
  }

  .navbar-toggler{
    background-color: rgba(255, 255, 255, 0.75);
  }
  .active{
    background-color: #f0861b ;
    border-color: #EBA561;
    color: white;
    &:hover{
      color: #ffffff ;
      border-color: white;
    }
  }
}