.title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title > * {
  margin: 0 auto;
}

.nav-search {
  width: 100%;
}

.nav-search > div {
  margin: 1em;
}

.buscador {
  display: flex;
  flex-direction: column;
  height: 15em;
  justify-content: space-between;
  align-items: center;
  margin: 1em
}