<div class="footer">
  <footer class="text-center text-lg-start bg-light text-muted">
    <section class="navegacion-user d-flex justify-content-center justify-content-lg-between p-4 border-bottom fixed-bottom footerv2">
      <div class="footer-icons">
        <%= link_to new_member_session_path, class: "nav-link" do %>
          <em class="fa-solid fa-magnifying-glass"></em>
        <% end %>
        <%= link_to new_member_session_path, class: "nav-link" do %>
          <em class="fa-regular fa-heart"></em>
        <% end %>
        <%= link_to new_member_session_path, class: "nav-link" do %>
          <em class="fa-solid fa-clock-rotate-left"></em>
        <% end %>
        <%= link_to new_member_session_path, class: "nav-link" do %>
          <em class="fa-regular fa-user"></em>
        <% end %>
      </div>
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <em class="fas fa-gem me-3"></em>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><em class="fas fa-home me-3"></em> New York, NY 10012, US</p>
            <p>
              <em class="fas fa-envelope me-3"></em>
              info@example.com
            </p>
            <p><em class="fas fa-phone me-3"></em> + 01 234 567 88</p>
            <p><em class="fas fa-print me-3"></em> + 01 234 567 89</p>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>